.menu__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-top: 50px;

  li {
    border-right: 1px solid black;
    height: 42px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 28px;
    font-size: 12px;

    &:last-child {
      border-right: 0px;
    }
  }
}
