// Your layout styles 👇🏻
.container {
  max-width: 1120px;
  width: 100%;
  // padding: 0 16px;
  margin: 0 auto;

  @include breakpoint(medium) {
    padding: 0;
  }

  h1 {
    font-size: 30px;

    @include breakpoint(medium) {
      font-size: 32px;
    }
  }

  h2 {
    font-size: 20px;

    @include breakpoint(medium) {
      font-size: 24px;
    }
  }
}
