// Your "Home" styles here 👇🏻
.home__container {
  margin-top: 30px;
  text-align: center;
  .hero {
    .cuenta-regresiva {
      text-transform: uppercase;
      letter-spacing: 5pt;
    }
    .first--title {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 32px;

      @include breakpoint(small) {
        width: 65%;
        margin-bottom: 40px;
      }
    }

    .fecha--hora {
      font-family: "Gotham-Medium";
      h1 {
        margin-bottom: 40px;
        @include breakpoint(medium) {
          font-size: 50px;
          line-height: 3rem;
        }
      }
    }

    .direccion {
      h1 {
        font-size: 50px;
        font-family: "DINNextLTPro-BoldCondensed";
        @include breakpoint(medium) {
          font-size: 50px;
        }
      }

      .logo-herencia {
        width: 25%;
        margin-bottom: 12px;

        @include breakpoint(medium) {
          width: 10%;
        }
      }
    }
  }
  // STYLE COMO LLEGAR SECTION START
  .ubicacion__container {
    position: relative;
    .second--title {
      width: 70%;

      @include breakpoint(medium) {
        width: 40%;
        margin-bottom: 50px;
      }
    }
    .mapa {
      @include breakpoint(small) {
        position: absolute;
      }
      margin-left: 45px;
      img {
        width: 100%;
      }
      @include breakpoint(small) {
        img {
          width: 50%;
          margin: 0 auto;
        }
      }
    }

    .stop--images {
      display: none;
      @include breakpoint(small) {
        display: flex;
        justify-content: space-evenly;
        margin-top: -90px;
        margin-bottom: 220px;
      }

      .first-photo {
        width: 40%;
      }

      .second-photo {
        width: 40%;
      }

      .lief {
        width: 20%;
      }
    }
  } // STYLE COMO LLEGAR SECTION END

  //STYLE REGALO SECTION START
  .regalos__container {
    font-family: "Baufra";
    .third--title {
      width: 100%;
    }
    .travel--photo {
      width: 40%;
      margin-bottom: 20px;
      @include breakpoint(small) {
        width: 25%;
        margin-top: -50px;
      }
    }

    .regalo-images {
      justify-content: space-between;
      @include breakpoint(small) {
        margin-top: -500px;
        padding-bottom: 50px;
      }
      img {
        display: none;
        @include breakpoint(small) {
          display: flex;
        }
      }

      .gift-photo1 {
        width: 100%;
      }
      .gift-photo2 {
        width: 85%;
        @include breakpoint(medium) {
          width: 100%;
        }
      }
      .gift-photo3 {
        width: 60%;
        margin-bottom: 160px;
        margin-top: 20px;
        margin-left: 100px;
      }
      .gift-photo4 {
        width: 90%;
        margin-left: 30px;
      }
    }
  }

  .te-esperamos {
    font-family: "Gotham-Medium";
    @include breakpoint(small) {
      padding-bottom: 200px;
    }
    @include breakpoint(medium) {
      padding-bottom: 100px;
    }
    .te-esperamos--title {
      .fourth--title {
        width: 100%;
        @include breakpoint(small) {
          width: 50%;
        }
      }
    }
    .cheers {
      width: 30%;
      @include breakpoint(small) {
        width: 14%;
        margin-top: -30px;
      }
    }

    h2 {
      text-transform: uppercase;
      @include breakpoint(small) {
        letter-spacing: 5pt;
      }
    }

    .te-esperamos--images {
      justify-content: space-between;
      margin-top: -300px;
      @include breakpoint(medium) {
        margin-top: -350px;
      }
      .te-esperamos-img1 {
        width: 70%;
        @include breakpoint(medium) {
          margin-right: 120px;
          margin-top: 40px;
        }
      }
      .te-esperamos-img2 {
        width: 70%;
      }
    }
  } // STYLE REGALO SECTIONS END

  .footer {
    font-family: "Gotham-Medium";
    text-transform: uppercase;
    letter-spacing: 5pt;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
