// Your "Home" styles here 👇🏻
.home__container {
  margin-top: 72px;
  text-align: center;

  .image1 {
    width: 95%;
    margin-top: 20px;
    margin-bottom: 32px;

    @include breakpoint(medium) {
      width: 50%;
      margin-bottom: 40px;
    }
  }

  .fecha--hora {
    h1 {
      margin-bottom: 40px;
    }
  }

  .direccion {
    border-bottom: 1px dotted black;
    padding-bottom: 40px;

    h1 {
      margin-bottom: 12px;
    }

    .image2 {
      width: 25%;
      margin-bottom: 12px;

      @include breakpoint(medium) {
        width: 10%;
      }
    }
  }

  .como--llegar-container {
    border-bottom: 1px dotted black;
    padding-bottom: 120px;
    .como--llegar {
      margin-top: 40px;
      .image3 {
        width: 90%;
        @include breakpoint(medium) {
          width: 35%;
        }
      }
    }

    .mapa {
      position: absolute;
      .ejemplo {
        width: 100%;
        position: relative;
        margin-left: 33px;
        @include breakpoint(medium) {
          width: 60%;
          margin-left: 0;
        }
      }
    }

    .first-line--images {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 120px;
      img {
        width: 70%;
        @include breakpoint(medium) {
          width: 50%;
        }
      }
      .first-photo {
        transform: rotate(-5deg);
        margin-right: 120px;
      }

      .second-photo {
        transform: rotate(6deg);
      }
    }
  }

  .regalo__section--container {
    margin-top: 100px;

    .titulo {
      width: 50%;
    }
  }
}
